@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-background-dark: #102216;
  --color-background-light: #f6f8f6;
  --color-accent: #d6bcfa;
  --color-accent-dark: #9f7aea;
  --color-charcoal: #343A40;
  --color-light-gray: #F1F3F5;
  --color-text-dark: #111813;
  --color-text-light: #f0f4f2;
  --color-border-light: #dbe6df;
  --color-border-dark: #2a3c31;
  --color-card-light: #f6f8f6;
  --color-card-dark: #1a2e20;
  --color-subtle-text-light: #61896f;
  --color-subtle-text-dark: #a8b5ae;

  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-family-display: "Inter", sans-serif;
  --border-radius-default: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background-light);
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}